.buttoncolor .sapMBtnInner{
    background: #fd7d7c !important;
    -webkit-text-fill-color: rgb(255, 255, 255) !important; 
}
.background{
    background: #eff4f9 !important;
    padding: 5px;
}
.background2{
    background: rgb(253, 253, 253) !important;
}
.buttoncolor2 .sapMBtnInner{
    background: #4bbd93 !important;
    -webkit-text-fill-color: rgb(255, 255, 255) !important; 
}

