.personalInfoContainer{
    border-bottom: 2px solid red;
    -webkit-text-fill-color: rgb(255, 72, 0) !important;
}
.personalInfoContainer2{
    border-bottom: 2px solid  rgb(5, 179, 92);
    -webkit-text-fill-color:   rgb(5, 179, 92) !important;
}
.personalInfoContainer3{
    border-bottom: 2px solid  rgb(46, 106, 218) ;
    -webkit-text-fill-color: rgb(46, 106, 218) !important;
}


