.user-name-label{
   font-size: 25px !important;
   color:#284d63 !important;
}

.info-panel-header{
   background: #ebf8ff !important;
}

.info-panel-header .sapMText{
   color:#2a4d5e !important;
}

.info-panel-header.header-school{
   background: #fff4e5 !important;
}

.info-panel-header.header-school .sapMText{
   color:#522e23 !important;
}

.school-list-style .sapMLIB{
   border:0 !important;
   padding: 10px;
   border-bottom:1px dashed #b1b1b1 !important;
}

.school-list-style .sapMLIB:last-child{
   border:0 !important;
}

.school-list-style .sapMLIB .school-id{
   font-size: 16px !important;
   color:#8f4538 !important;
}

.header-bar-icon{
   padding-left: 22px;
}