.sociallistbackground{
     background: #f4f4f4 !important;
}

.socialtextNameSizeBig.sapMLabel{
   font-size: 17px !important;
   -webkit-text-fill-color:#5f6b7b !important;
   font-weight:bold !important;
}
.cooktextNameSizeSmall.sapMLabel{
    font-size: 12px !important;
    -webkit-text-fill-color: #5f6b7b! important;
    
 }
 .cooktextNameXS.sapMLabel{
    font-size: 10px !important;
    -webkit-text-fill-color: #5f6b7b!important;  
 }

.socialtextboldsize.sapMLabel{
    font-size: 30px !important;
    font-weight:bold !important;
    -webkit-text-fill-color: #5f6b7b !important;
 }

 .socialtextsize.sapMLabel{
    font-size: 32px !important;
    -webkit-text-fill-color: #5f6b7b !important;
 }

 .cooktextNormalSize{
    font-size: 17px !important;
    -webkit-text-fill-color: #5f6b7b !important;
 }

.socialwebbackground{
    background-image: url("sunset.png") !important;
    background-size: 1600px 1300px !important;
    background-repeat: no-repeat !important;
    background-position: center !important ; 
}
.cookbutton{
position: absolute !important ;
left: 0 !important;
top: 50% !important;
margin-top: 16px;
}
.socialwebbackground2{
    background: #e54c85 !important ;
}
.socialphoto{
    margin-left: 90px;
    margin-right: 10px;
}