 .avatarContainer{
    position: relative !important;
 }

 .avatarContainer .levelColorIcon{
    /* position: absolute !important; */
    position: absolute !important;    
    top:0 !important;
    left: 0 !important;
    bottom:4px !important;
    right: 0 !important;
    margin:auto;        
    border-radius: 100%;
 }

 .avatarContainer .levelColorIcon.levelColorIconWarning{
    border: 4px solid  #e98f2f !important;
 }
 
 .avatarContainer .levelColorIcon.levelColorIconError{
    border: 4px solid  #ec4140 !important;
 }

 .avatarContainer .levelColorIcon.levelColorIconSuccess{
    border: 4px solid  #31bf81 !important;
 }

 .listItemStyle.sapMLIB {
     padding: 10px !important;
 }
 

 .zoom {
    position: absolute;
    padding: 50px;
    background-color: green;
    transition: transform .2s; /* Animation  */
    width: 200px;
    height: 200px;
    margin: 0 auto;
    
}

.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.opacityAnimation{
    animation: opacityContainer 0.5s linear;
}

@keyframes opacityContainer{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.texttransform{
    text-transform:uppercase ;
    /* font-weight: bold; */
    -webkit-text-stroke-width: 0.5px;
}
.tr:nth-child(odd)
{ background-color:#a9cdeb}

   
.listItemStyle.sapMLIB:nth-child(even){
    background: #f5f5f5 !important;
}
.toolbareffectcolor{
    background: #3f4257 !important;
    text-transform:uppercase ;
    -webkit-text-fill-color: white!important;
    -webkit-text-stroke-width: 0.5px;
}
.texttransformandblur{
    text-transform:uppercase ;
    /* font-weight: bold; */
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-fill-color: rgba(156, 151, 151, 0.849)!important;
    font-size: 2rem;
}

